{% extends 'base_admin.html' %}

{% block content %}
<br><br>
<a href="{% url 'purchase_input' %}" class="btn btn-primary">Add Purchase Input</a>

<br><br>
<h2>Purchase List</h2>
<br><br>
<table>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Invoice Number</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Supplier</th>
        <th>Amount</th>
        <th>Spent By</th>
    </tr>
    {% for purchase in purchases %}
    <tr>
        <td>{{ purchase.id }}</td>
        <td>{{ purchase.date }}</td>
        <td>{{ purchase.invoice_number }}</td>
        <td>{{ purchase.item }}</td>
        <td>{{ purchase.quantity }}</td>
        <td>{{ purchase.supplier }}</td>
        <td>{{ purchase.amount }}</td>
        <td>{{ purchase.spent_by }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
